/* Estilos generales */
/*-----------------------------------*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Estilos del encabezado y barra de navegación */
/*-----------------------------------*/
header {
  background-color: #070707;
  background-image: url(../assets/header.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 150px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  margin-right: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333333;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

/* Estilos de sección de producto */
/*-----------------------------------*/
.product-section {
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

.product-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-section h2 {
  margin-bottom: 20px;
}

.product-section .card {
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  max-width: 200px;
}

.benefits-section .card h3 {
  margin-bottom: 10px;
}

/* Estilos de sección de producto */
/*-----------------------------------*/
.about-section {
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
}


/* Estilos de sección de about */
/*-----------------------------------*/
.about-section {
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

.about-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-section h2 {
  margin-top: 100px;
  margin-bottom: 10px;
}

.about-section p {
  margin-bottom: 10px;
}

.about-section .card {
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.about-section .container .card {
  max-width: 300px;
}

.circular-square {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50px;
}

.img_t {
  margin-top: 40px;
  max-width: 50px;
  max-height: auto;
}

/* Estilos de sección de precio */
/*-----------------------------------*/
.pricing-section {
  background-color: #41A020;
  padding: 40px 0;
  text-align: center;
}

.pricing-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-section h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.pricing-section h4 {
  color: #ffffff;
  margin-bottom: 20px;
}

.pricing-section .card1 {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pricing-section .card2 {
  background-color: #67BF65;
  color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pricing-section .card3 {
  background-color: #FFE5A4;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pricing-section .container h3 {
  margin-bottom: 10px;
}

.pricing-section .container .btn {
  background-color: #41A020;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.pricing-section .container .btn:hover {
  background-color: #2b6816;
}


/* Estilos del formulario de contacto */
/*-----------------------------------*/
.contact-section {
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

.contact-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-section h2 {
  margin-bottom: 10px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #41A020;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #2b6816;
}

.mapa {
  max-width: 300px;
  max-height: auto;
}



/* Estilos del pie de página */
/*-----------------------------------*/
footer {
  background-color: #254228;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* Estilos del formulario de contacto para dispositivos móviles */
@media screen and (max-width: 767px) {
  .contact-form {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* Estilos del formulario de contacto para tabletas y dispositivos de pantalla pequeña */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-form {
    max-width: 80%;
    padding: 0 20px;
  }
}

/* Estilos del formulario de contacto para pantallas más grandes */
@media screen and (min-width: 1024px) {
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
  }
}
